*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    flex-wrap: wrap;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));

}   
.sidebar{
    width: 230px;
    flex: 0 0 230px;
    height:180vh;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));
    color: white;
    display: flex;
    flex-direction: column;
    border-right: 1px solid greenyellow;
    border-bottom:1px solid greenyellow;
    position: fixed;
}
.sidebar h1{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}
.icon{
    padding-right: 5px;
}
nav {
     display:flex;
     flex-direction: column;
     gap: 17px;
}
nav h1{
    border-bottom: 1px solid greenyellow;
    padding-bottom: 15px;
    padding-top: 15px;
}
nav a {
     text-decoration: none;
     color: white ;   
    padding: 15px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    transition: 0.4s;
}
nav a:hover{
    background: greenyellow;
    color: black;
    transform: translateX(5px);
}
nav a:active{
    background: #D46B17;
    color: #FFF38C;
}
.container{
    display: flex;
    min-height: 100vh;
    width: 100%;
    gap: 0;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}
.main{
    flex: 1;
     height: auto;
     margin: 0;
     padding: 10px 20px 20px 20px;
     overflow: hidden;
     margin-left: 240px;
}
.box1{
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    padding: 50px;
    background: url(image/Green\ 🟢.jpg);
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid greenyellow;
}

.box1 h1{
    text-align: right;
    font-size: 40px;
    color: white;
    margin-right: 70px;
}
.table{
    display: flex;
}
.box2{
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    border: 2px solid greenyellow;
    border-radius: 10px;
    margin-top: 30px;
    padding: 40px;
    background: linear-gradient( 60deg, rgba(199, 63, 63, 0.29),rgba(131, 224, 138, 0.247),rgba(255, 255, 109, 0.312));
    color: white;

}
.box2 p{
    font-style: Harrington;
    font-size: 18px;
}
.dates{
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
}
.texts{
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
}
.zen{
    text-align: right;
    margin-right: 40px;
    margin-bottom: 15px;
    padding: 5px;
    margin-left: 800px;
    font-size: 17px;
    border: 2px solid greenyellow;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));
    border-radius: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tracker{
    width: 80%;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));
    border: 1px solid greenyellow;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px;
}
.tracker h3{
    margin-bottom: 20px;
    font-size: 18px;
}
.days{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid greenyellow;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.days button{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background: transparent;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.days button:hover{
    background: greenyellow;
    color: black;
}
.days button.active{
    background: yellow;
    color: red;
}
.progress-box{
    width: 100%;
    height: 8px;
    background: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}
#progressBar{
    width: 0%;
    height: 100%;
    background: rgb(61, 255, 47);
    transition: width 0.4s;
}
#progressText{
    text-align: right;
    font-size: 17px;
    color: white;
    margin: 5px 0 10px;
}
.tasks{
    display: flex;
    flex-direction: column;
}
.tasks label{
    display: block;
    padding: 17px 4px;
    font-size: 22px;
}
.tasks label:hover{
    color: greenyellow;
}
.tasks input{
    margin-right:10px;
    cursor: pointer;
}
.tasks input:checked+*{
    text-decoration: line-through;
}
 .right-side{
    margin-left: 50px;
    width: 250px;
    margin-top: 100px;
 }  
 .table1{
    margin-bottom: 50px;
    text-align: center;
    border: 2px solid greenyellow;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9)) ;
    border-radius: 20px;
    padding: 10px;
 } 
 .pomodoro{
     margin-bottom: 50px;
    text-align: center;
    border: 2px solid greenyellow;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9)) ;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 250px;
    gap: 40px;
 }
 .pomodoro h2{
    margin-top: 20px;
    margin-bottom: 20px;
 }
 #timer{
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
 }
 pomodor button{
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    margin: 3px;
    background: #d6b66c;
    cursor: pointer;
 }
.pomodoro button:hover {
    background: #c5a354;
    transform: scale(1.05);

}
.session-text {
    margin-top: 15px;
    font-size: 14px;
}
#sessions {
   font-weight: bold;
}
.footer{
    width:auto;
    margin-left: 230px ;
    height: auto;
    color: white;
    position: realtive;
    border-radius: 12px;
    border: 1px solid yellowgreen;
    color: white;
    padding: 70px 8% 40px;
    min-height: 250px;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    letter-spacing: 1px;
}

.footer-logo span {
    color: #b7f542;
    font-weight: bold;
}

.footer-logo strong {
    color: white;
}
.footer-links {
    display: flex;
    gap: 100px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.footer-links a:hover {
    color: #b7f542;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}
.social-icons a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #b7f542;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: #143D14;
    font-size: 25px;
    transition: 0.3s;
}
.social-icons a:hover{
    color: black;
    transform: translateY(-5px);
    background: yellowgreen;
}
.footer-bottom {
    text-align: center;
    margin-top: 55px;
    font-size: 15px;
    font-weight: bold;
}
html{
    scroll-behavior: smooth;
}