
*{ 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-color: #090b0d;
    flex-wrap: wrap;

}   
.sidebar{
    width: 230px;
    flex: 0 0 230px;
    height:160vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #474747;
    border-bottom:1px solid #474747;
    background: black;
}
.sidebar h3{
    margin-top: 320px;
    margin-left: 25px;
    margin-right: 10px;
}
.sidebar h3 span{
    color: #7EC44F;
}
.logo{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
.sidebar img{
    height: 130px;
    width: 110px;
    border-radius: 50%;
}
.icon{
    padding-right: 5px;
}
nav {
     display:flex;
     flex-direction: column;
     gap: 17px;
}
nav a {
     text-decoration: none;
     color: #C7C7C7 ;   
    padding: 15px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 700;
    transition: 0.4s;
}
nav a:hover{
    background: #252b2d;
    color:#65CC2C;
    transform: translateX(5px);
}
nav a:active{
    background: #b7d83b;
    color: #101510;
}
.main{
     flex: 1;
     min-width:0;
     margin: 0;
     padding: 25px;
    overflow: hidden;
}
.hero {
      position: relative;
      height: 250px;
      width: 100%;
      border-radius: 12px;
      overflow: hidden;
      
      background: linear-gradient(90deg, rgba(10,12,10,.8),rgba(10,10,10,.15)), url("./image/Eren\ Yeager\ Wallpaper\ Final\ Form\ Hd\ -\ Free\ Download.jpg");
      padding: 50px;
      background-size: cover;
      background-position: center;
      display: flex;
      border: 1px solid #474747;
}
.hero-content h1{
    color: white;
    letter-spacing: -2px;
    font-size: 42px;
}
.hero-content h1 span, .hero-content p span {
    color: #7EC44F;
}
.hero-content p{
    margin-top: 25px;
    color: white;
    font-size: 20px;
}
.today{
     position: relative;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #474747;
    padding: 20px;
    margin-top: 20px;
    color: white;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));
}
.about{
    position: relative;
    height: 130px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #474747;
    padding: 20px;
    margin-top: 20px;
    color: white;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));
}
.about h2{
        display: flex;
        margin: 10px;
}
.about h4{
    margin: 10px;
    color: #60E065;
}
.container{
    display: flex;
    min-height: 100vh;
    width: 100%;
    gap: 0;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}
.box{
    position: relative;
    height: 350px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #474747;
    padding: 20px;
    margin-top: 20px;
    color: white;
    background: linear-gradient(120deg , black , rgba(33,38,37,.6));
}    
.box a{
    text-decoration: none;
    color: white;
}
.box a:hover{
    color: #60E065;
}
 .part1{
      position: relative;
      height: 270px;
      width: 40%;
      border-radius: 12px;
      overflow: hidden;
      background: linear-gradient(120deg , black , rgba(33,38,37,.6));
      padding: 15px;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      border: 1px solid #474747;
      color: white;
      padding-right: 15px;
      margin-left: 25px;
      box-shadow: 0 0 10px #60E065;
}
.habit-box{
    display: flex;
    min-height: 100vh;
    width: 100%;
    gap: 0;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}
.habit-bar{
    width: 150px;
    flex: 0 0 150px;
    height: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 10px;
}
.habit-bar p{
        border: 1px solid #474747;
        margin-bottom: 7px;
        border-radius: 10px;
        padding: 3px;
        background-color: black;
        box-shadow: 0 0 10px #60E065;
}
.habit-bar p:hover{
    background: #252b2d;
    color:#65CC2C;
    transform: translateX(5px);
}
.guitar{
      position: relative;
      height: 230px;
      width: 47%;
      border-radius: 12px;
      overflow: hidden;
      padding: 15px;
      background-size: cover;
      background-position: center;
      display: block;
      border: 2px solid #919995;
      color: white;
      background: linear-gradient(60deg, rgba(66,212,126,.6), rgba(10,10,10,.8));
      margin: 8px;
      box-shadow: 0 0 10px #60E065;
}
.guitar:hover{
    transform: scale(1.05);
}
.part1-header{
    display: flex;
    align-items: center;
    gap: 10x;
    margin-bottom: 18px;
    
}
.part1-header h4{
    font-size: 20x;
    
}
icon{
    font-size: 27px;
}
.check{
     margin-left: 13px;
     width: 42;
     height: 42;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 12px;
     background: rgba(255,255,255,.2);
     font-size: 22;
     padding: 2px;
}
.week{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}
.grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    width: 100%;
}
.grid span{
    display: block;
    width: 100%;
    height:24px;
    border-radius: 3px;
    background: rgba(255,45,40,.9);
}

.run{
    position: relative;
      height: 230px;
      width: 47%;
      border-radius: 12px;
      overflow: hidden;
      padding: 15px;
      background-size: cover;
      background-position: center;
      display: block;
      border: 2px solid #919995;
      color: white;
      background: linear-gradient(60deg, rgba(66,212,126,.6), rgba(10,10,10,.8));
      margin: 8px;
      box-shadow: 0 0 10px #60E065;
}
.run:hover{
    transform: scale(1.05);
}
.run .grid span{
    background-color: #706BE0;
}
.sleep{
    position: relative;
      height: 270px;
      width: 40%;
      border-radius: 12px;
      overflow: hidden;
      background: linear-gradient(120deg , black , rgba(33,38,37,.6));
      padding: 15px;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #474747;
      color: #60E065;
      padding-right: 15px;
      margin-left: 25px;
      box-shadow: 0 0 10px #60E065;
}
.sleep a:hover{
    transform: scale(1.05);
    color: #60E065;
}
.sleep h2{
    margin-bottom: 5px;
}
.sleep-quality{
       position: relative;
      height: 190px;
      width: 85%;
      border-radius: 12px;
      overflow: hidden;
      padding: 15px;
      background-size: cover;
      background-position: center;
      display: flex;
      border: 2px solid white;
      color: white;
      margin-left: 10px;
      background: linear-gradient(120deg , black , rgba(33,38,37,.6));
}
.quality{
    width:40%;
    border-right: 1px solid white;
    padding-right: 25px;
}
.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(#60E065 0deg 288deg, rgba(255,255,255,0.25) 288deg 360deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.circle::before{
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    background: linear-gradient(120deg , black , rgba(12,13,13,.9));
    border-radius: 50%;
}
.circle span{
    position:relative;
    font-size: 30px;
    font-weight: bold;
}
.data{
    width: 60%;
    padding-left: 30px;
}
.side-info{
    display:flex;
    border-bottom: 1px solid white;
    padding-bottom: 25px;
}
.time{
    width: 50%;
    padding-left: 25px;
}
.time:first-child{
    border-right: 1px solid white;
    padding-left: 0;
}
.time h2{
    margin-bottom: 8px;
    font-size: 18px;
}
.awake{
    margin-top: 15px;
    font-size: 20px;
    background: linear-gradient(60deg, rgba(66,212,126,.6), rgba(10,10,10,.8));
    padding: 5px;
    border-radius: 5px;
}
.box1{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
}
.steps{
    position: relative;
    height: 300px;
    border-radius: 12px;
    border: 3px solid black;
    padding: 20px;
    margin-top: 20px;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));
    /* background: linear-gradient(60deg, rgba(23,23,23,0.9),  rgba(117,146,217,.5) ,  rgba(212,212,212,.9)); */
    color: white;
    box-shadow: 0 0 10px #60E065;
}
.steps:hover{
    transform: scale(1.04);
}
.foot h3{
    font-size: 30px;
    background: white;
    height: 38px;
    width: 40px;
    border-radius: 5px;
}
.steps h2{
    margin-top: 25px;
}
#number{
    display: flex;
    margin-top: 21px;
}
#number h1{
    letter-spacing: 4px;
    margin-right: 2px;
}
#number medium{
    margin-top: 10px; 
}
.steps-bar{
    width: 100%;
    height: 10px;
    background: #ACB3BD;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0;
}
#stepBar{
    height: 100%;
    width: 0%;
    background: #5C310B;
    transition: width 0.4s ease;
}
button{
    margin-top: 25px;
    margin-right: 25px;
    height: 30px;
    width: 60px;
    font-size: 15px;
    padding: 10px, 10px;
    background-color: #D4D4D4;
    border-radius: 10px;
}
.water{
    position: relative;
    height: 300px;
    border-radius: 12px;
    border: 3px solid black;
    padding: 20px;
    margin-top: 20px;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));
    color: white;
    box-shadow: 0 0 10px #60E065;
}
.water:hover{
    transform: scale(1.04);
}
.blue h3{
    font-size: 30px;
    background: white;
    height: 38px;
    width: 40px;
    border-radius: 5px;
}
.water h2{
    margin-top: 25px;
}
#drink{
    display: flex;
    margin-top: 21px;
}
#drink h1{
    letter-spacing: 4px;
    margin-right: 2px;
}
#drink medium{
    margin-top: 10px; 
}
.water-bar{
    width: 100%;
    height: 10px;
    background: #ACB3BD;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0;
}
#waterBar {
    height: 100%;
    width: 0%;
    background: #358DFF;
    transition: width 0.4s ease;
}
.calories{
    position: relative;
    height: 300px;
    border-radius: 12px;
    border: 3px solid black;
    padding: 20px;
    margin-top: 20px;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));
    color: white;
    box-shadow: 0 0 10px #60E065;
}
.calories:hover{
    transform: scale(1.04);
}
.food h3{
    font-size: 30px;
    background: white;
    height: 38px;
    width: 40px;
    border-radius: 5px;
}
.calories h2{
    margin-top: 25px;
}
#eat{
    display: flex;
    margin-top: 21px;
}
#eat h1{
    letter-spacing: 4px;
    margin-right: 2px;
}
#eat medium{
    margin-top: 10px; 
}
.add{
    margin-top: 25px;
    margin-right: 25px;
    height: 30px;
    width: 100px;
    font-size: 15px;
    padding: 10px, 10px;
    background-color: #D4D4D4;
    border-radius: 10px;
}
.calorie-bar{
    width: 100%;
    height: 10px;
    background: #ACB3BD;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0;
}
#calorieBar {
    height: 100%;
    width: 0%;
    background: #E67531;
    transition: width 0.4s ease;
}
.footer{
    position: realtive;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #474747;
    color: white;
    padding: 70px 8% 40px;
    min-height: 250px;
    background: linear-gradient(120deg , black ,#0B1C0B , rgba(12,13,13,.9));
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    letter-spacing: 1px;
}

.footer-logo span {
    color: #b7f542;
    font-weight: bold;
}

.footer-logo strong {
    color: white;
}
.footer-links {
    display: flex;
    gap: 100px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.footer-links a:hover {
    color: #b7f542;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}
.social-icons a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #b7f542;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: #143D14;
    font-size: 25px;
    transition: 0.3s;
}
.social-icons a:hover{
    color: #50F54F;
    transform: translateY(-5px);
    background: black;
}
.footer-bottom {
    text-align: center;
    margin-top: 55px;
    font-size: 15px;
    font-weight: bold;
}
html{
    scroll-behavior: smooth;
}